/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 82%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  margin: 0 auto;
  background-image: url(images/b125.jpeg);
  text-align: center;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* header */
.header {
  display: flex;
  position: fixed;/*fixedを設定して固定*/
  z-index: 999;/*最前面へ*/
  top:0;/*位置指定*/
  left:0;/*位置指定*/
  right: 0;
  background-color: pink;
  opacity: 0.8;
  height: 70px;
}

.header-left {
  width: 30%;
}

.header-right {
  width: 70%;
}

.header-right h6 {
  float: right;
  font-size: 130%;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: right;
  margin-right: 20px;
  color: white;
}

.logo {
  width: 270px;
  height: 50px;
  margin: 10px 0 10px 30px;
  display: block;
}

.navigation {
  position: fixed;/*fixedを設定して固定*/
  z-index: 999;/*最前面へ*/
  top: 70px;/*位置指定*/
  left:0;/*位置指定*/
  right: 0;
  background-color: pink;
  opacity: 0.8;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav li {
  margin: 10px 60px 10px 60px;
  font-size: 120%;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color:white;
}

/* main部分 */
.main {
  background-color: ivory;
}

.slider {
	position:relative;
  height: 650px;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.contents {
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom:30px;
  text-align: center;
  background-image: url(images/pic1.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.concepts p {
  flex-wrap: wrap;
  width: 1000px;
  margin: 10px auto 10px;
  color: white;
  font-size: 140%;
}

.title {
  color: black;
  margin-bottom: 20px;
}


/* row */
.machine {
  font-size: 350%;
  margin-bottom: 50px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row p {
  font-size: 120%;
}

.row h2 {
  border-bottom: 2px solid pink;
  font-size: 130%;
}

table {
  margin-top: 30px;
  margin-right: 50px;
}

.address {
  white-space: nowrap;
}

.time {
  font-size: 80%;
}

.ratio {
  margin-top: 50px;
  height: 400px;
}

.last {
  font-size: 100%;
}

footer {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 599px) {
  .header {
    height: 50px;
  }

  .navigation {
    top: 50px;
  }

  .nav {
    font-size: 60%;
  }

  .header-right {
    font-size: 60%;
    padding: 15px 2px 0;
  }

  .header-right h6 {
    margin-top: initial;
    margin-bottom: initial;
  }

  .fab {
    font-size: 60%;
  }

  .logo {
    width: 100px;
    height: 35px;
  }

  .nav li {
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 110%;
  }
  

  .slider {
    height: 250px;
  }

  .top {
    height: 1000px;
  }


  .contents {
    margin-top: 50px;
    background-image: url(images/pic1.png);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .title {
   padding: initial;
   color: white;
  }
  
  .contents p {
    flex-wrap: wrap;
    width: 250px;
    margin: 10px auto;
    font-size: 60%;
    color: white
    padding: initial;
  }

  .lead {
    font-size: 1rem;
  }

  .py-5 {
    width: 300px;
    margin: 10px auto;
    text-align: center;
  }

  .row h3 {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .row h2 {
    font-size: 77%;
  }
  
  .row p {
   padding: initial;
    font-size: 80%;
  }

  .last {
    font-size: 60%;
  }
  
  .time {
    font-size: 80%;
  }


}

/* i pad  */
@media screen and (min-width:768px) and ( max-width:1024px) {
  .nav {
    font-size: 60%;
  }

  .header-right {
    display: flex;
    font-size: 60%;
    white-space: nowrap;
    padding: 2px 2px;
    margin: 2px 2px;
  }

  .logo {
    width: 200px;
    height: 55px;
  }

  .nav li {
    margin: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 200%;
  }
  

  .slider {
    height: 450px;
  }

  .contents {
    margin-top: 50px;
  }

  .title {
   padding: initial;
  }
  
  .contents p {
    flex-wrap: wrap;
    width: 550px;
    margin: 10px auto;
    font-size: 80%;
    color: white;
    padding: initial;
  }

  .lead {
    font-size: 1rem;
  }

  table {
    width: 330px;
    margin: 10px auto;
  }

  .row h3 {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .row h2 {
    font-size: 77%;
  }
  
  .row p {
   padding: initial;
    font-size: 80%;
  }

  .last {
    font-size: 60%;
  }
  
  .time {
    font-size: 80%;
  }

  .ratio {
    height: 280px;
  }

}

